{% extends "MarvinMazekatonicBundle::layout.html.twig" %}

{% block content %}
    <p>liste des chapitres :</p>
    <ul>
        {% for chapter in chapters %}
            <li><a href="/app_dev.php/chapter/{{ chapter.id }}">{{ chapter.id }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}